.Card {
  width: 200px;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  border-radius: 10px;
  transition: all 0.15s;
  box-shadow: 5px 5px 9px 1px grey;
}

.Card:hover {
  transform: scale(1.03);
  box-shadow: 9px 9px 9px 1px grey;
  cursor: pointer;
}

.Name {
  font-size: 24px;
  font-weight: 600;
}

.Email {
  font-size: 14px;
  font-family: fantasy;
}